/* Select the image with a class of kitty-1 */
.images/kitty-1.png {
position: relative;
}
.kitty-1 {
  position: absolute;
  z-index: 1;
  top: 276px;
  left: 129px;
}

/* Select the image with id of kitty-2 */
p#kitty-2 {
position: relative;
}

.kitty-2 {
  position: absolute;
  z-index: 1;
  top: 286px;
  left: 129px;
}

/* Select the image inside the element with an id of basket (using its descendent relationship) */
  #basket img {
  position: relative;
  }

  img {
  position: absolute;
  z-index: 1;
  top: 291px;
  left: 129px;
}

/* Select the image based on it being a sibling that follows immediately after the element with an id of ball (using adjacent sibling selector) */
#ball img {
  position: relative;
  }


  img {
  position: absolute;
  z-index: 1;
  top: 260px;
  left: 120px;
}

/* Select the image that has an attribute value matching "Kitty 5" (using attribute selector) */



input[type="Kitty 5"]{
  position: absolute;
  z-index: 1;
  top: 217px;
  left: 130px;
}
